.background {
    background-color: red;
    border-radius: 50%;
    /* height: 45px;
    width: 45px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 5px   ;
}

.minus {
    color: white;
    font-size: 30px;
    cursor:pointer;
    align-items: center;
}

.background:hover{
    transition: background-color 0.200s;
    background-color: rgb(109, 4, 4);
}


.container{
    display: inline-block;
}
